<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <!-- TODO Make extern JS work
    <script type="text/javascript" src="form_validation.js"></script>
    -->
    <script>
        function validateTextField( form, fieldName, userFriendlyFieldName ){
            var fieldValue = form[fieldName].value;
            if ( fieldValue == null || fieldValue == ""){
                alert( userFriendlyFieldName + " is a mandatory field");
                return false;
            }
            return true;
        }
        function validateForm(){
            var form = document.forms["event_guest_data"];
            if( !validateTextField(form, "event_guest_first_name", "First name") ){
                return false;
            }
            if( !validateTextField(form, "event_guest_lastname", "Last name") ){
                return false;
            }
            var guestEmail = form["event_guest_email"].value;
            if ( guestEmail == null || guestEmail =="" ){
                alert("Email is a mandatory field");
                return false;
            }
            if( guestEmail.indexOf("@") <= 0 ){
                alert("Invalid email");
                return false;
            }
            if( !validateTextField(form, "event_guest_company", "Company") ){
                return false;
            }
            return true;
        }
    </script>
  </head>
  <body>
    <div id = "main">
        <h1>Please complete your information: </h1>
        <form action="/result" method="post" name="event_guest_data" onsubmit="return validateForm()">
            <label for="event_guest_first_name">First Name</label>
            <input name="event_guest_first_name" type="text" class="required_text" value="" size="25"/><br/>
            <label for="event_guest_lastname">Last Name</label>
            <input name="event_guest_lastname" type="text" class="required_text" value="" size="25"/><br/>
            <label for="event_guest_email">Email</label>
            <input name="event_guest_email" type="text" class="required_text" value="" size="25"/><br/>
            <label for="event_guest_company">Company</label>
            <input name="event_guest_company" type="text" class="required_text" value="" size="25"/><br/>
            <input class="submit" type="submit" name="event_guest_data_send" value="Confirm attendance" />
        </form>
    </div>
  </body>
</html>
{% endautoescape %}