<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <script>
        function validateTextField( form, fieldName, userFriendlyFieldName ){
            var fieldValue = form[fieldName].value;
            if ( fieldValue == null || fieldValue == ""){
                alert( userFriendlyFieldName + " is a mandatory field");
                return false;
            }
            return true;
        }
        function validateForm(){
            var form = document.forms["event_data"];
            if( !validateTextField(form, "event_name", "Event name") ){
                return false;
            }
            var date = form["event_date"].value;
            if( !date ){
                alert( "Date is a mandatory field");
                return false;
            }
            var vacancies = form["event_vacancies"].value;
            if ( vacancies == null || vacancies == ""){
                alert( "Vacancies is a mandatory field");
                return false;
            }
            var numVacancies = parseInt(vacancies,10);
            if( isNaN(numVacancies) ) {
                alert( "Vacancies must be an integer value");
                return false;
            }
            if( numVacancies <= 0 ){
                alert( "Vacancies must be positive and non-zero");
                return false;
            }
            return true;
        }
    </script>
  </head>
  <body>
    <div id = "main">
        <h1>Please complete event information </h1>
        <hr/>
        <form action="/create" method="post" name="event_data" onsubmit="return validateForm()">
            <label for="event_name">Name</label>
            <input name="event_name" type="text" class="required_text" value="" size="25"/><br/>
            <label for="event_date">Date</label>
            <input name="event_date" type="date" class="required_text" value="" size="25"/><br/>
            <label for="event_vacancies">Vacancies</label>
            <input name="event_vacancies" type="text" class="required_text" value="" size="25"/><br/>
            <input class="submit" type="submit" name="event_data_send" value="Create event" />
        </form>
    </div>
  </body>
</html>
{% endautoescape %}